---
layout: _main.njk
---
{% import '_macros/_components.njk' as components %}
<h2 class="text-4xl py-4">Homepage of dwkns-playground</h2>
<p>{{ some_var }}</p>
<p>{{a_different_var}}</p>
{{ components.fancyThing( data = "some fancy value" )}}